.createUpdateView {

  /* -- Hover caption thumbnail Jose-- */

  .box {
    .caption {
      background-color: $ochre;
      background-color: rgba(25, 23, 23, 0.8);
    }
  }

  span.caption.fade-caption h4 {
    color: $greyC;
    border-style: dashed;
    border-color: $greyC;
    line-height: 29px;
    text-align: center;
    padding: 40px;
    font-size: 12px;
  }

  /* -- Hover caption thumbnail Jose-- */


}
