@font-face {
    font-family:California;
    src: url(/modules/ffmedia/client/assets/fonts/California.woff);
    
}

@font-face{
	font-family: gothambook;
	src: url(/modules/ffmedia/client/assets/fonts/GothamBook.woff);
}

@font-face{
	font-family: gothambold;
	src: url(/modules/ffmedia/client/assets/fonts/GOTHAM-BOLD.woff);
}
@font-face{
	font-family: gothammed;
	src: url(/modules/ffmedia/client/assets/fonts/GOTHAM-MEDIUM.woff);
}